/*Глобальные селекторы*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif, Arial;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 32px;
  width: 711px;
  margin-top: 60px;
  margin-left: 30px;
}

.result__video-container,
.content__list-container {
  position: relative;
}

.button {
  flex-grow: 1;
  flex-shrink: 0;
  align-self: center;
  max-width: 97%;
  border: 1px solid white;
  color: white;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/*Селекторы блока result*/

.result {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  gap: 8px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7.5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  width: 225px;
  margin: 0;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  padding: 3px 0 1px;
  outline: none;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  border-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 13px;
  margin-top: 1px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__textfield:hover {
  text-decoration: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__submit-button {
  align-self: end;
  padding: 5px 57px;
}

/*Селекторы блока content_detail*/

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 15px;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.content__accent {
  color: rgb(255 255 255 / 0.3);
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: -5px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  width: 398px;
  height: 298px;
  overflow-y: auto;
  gap: 30px;
}

.content__list-item {
  padding: 3px;
  width: 100%;
}

.content__card-link {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  cursor: pointer;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.content__video-card-title {
  font-family: Oswald, Arial, sans-serif;
  max-width: 196px;
  overflow: hidden;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  max-width: 95%;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  line-height: 16.2px;
  text-overflow: ellipsis;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  margin-right: 5px;
  object-fit: cover;
  object-position: right;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: start;
}

.more-button {
  width: 100%;
  margin-bottom: 3px;
}
