*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items:end;
  gap: 32px;
  width: 711px;
  margin-top: 30px;
  margin-left: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.content__list-container {
  gap: 30px;
  width: 399px;
  height: 298px;
  overflow-y: auto;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-top: 30px;
  padding-bottom: 26px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 30px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list {
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  margin-right: 5px;
  object-fit: cover;
  object-position: right;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: start;
}

.more-button {
  width: 100%;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.content__accent {
  color: rgb(255 255 255 / 0.3);
}

.content__card-link {
  color: white;
  text-decoration: none;
}

.content__video-card-title {
  overflow: hidden;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 95%;
  width: 95%;
}

.content__video-card-description{
  font-family: "Fira SansCondensed", Arial, sans-serif;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 1%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 95%;
  width: 95%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 7.5px;
  
}

.search-form__textfield {
  appearance: none;
  font-size: 18px;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  color: #fff;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__fieldset {
  border: none;
  width: 225px;
  
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  content: "";
  opacity: 0;
}

.search-form__checkbox:checked {
  opacity: 1;
}